BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 79
AccessModifierOffset: -4
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
IndentCaseLabels: true
PointerAlignment: Right
MaxEmptyLinesToKeep: 1
SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 4
SpaceBeforeParens: ControlStatements
SpaceAfterControlStatementKeyword: true
SpacesInContainerLiterals: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
