/* start global */
window {
    background-color: @bg_color;
}

* {
    color: @text_color;
    transition: background 0.3s;
}

button {
    border-radius: 5px;
    border: none;
    outline: none;
    background: @secondary_color;
    transition: background 0.2s;
}

button label {
    color: white;
}

button:active {
    background: @secondary_color-dark;
}

.link_button {
    background: none;
}

.link_button:active {
    background: none;
}

.link_button > * {
    color: @text_color;
}


.scroll {
    border: 0;
    outline: 0;
}

.dialog {
    padding: 5px 10px;
    background-color: @bg_color;
    border-radius: 5px;
}

.dialog entry {
    background: @input_bg_color;
    border: 2px solid @border_color;
}
/* end global */

/* auth start */
.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 14px;
    margin-bottom: 20px;
}

.logo {
    margin-bottom: 20px;
}

.sidebar {
    background: @secondary_color-light;
    padding: 20px 30px;
}

.stack-switcher button {
    margin: 0 10px;
}

.stack-switcher button:checked {
    background: @primary_color;
}

.auth_form label:not(:last-child) {
    margin-left: 20px;
}

.auth_form entry {
    background: @input_bg_color;
    border: 2px solid @border_color;
}
/* auth end */

/* start theme */

.theme_switcher {
    background-color: #CCC;
    border-color: #CCC;
    border-radius: 3px;
}

.theme_switcher:checked slider {
    background-image: url('../images/dark_theme.png');
}

.theme_switcher slider {
    border-radius: 3px;
    background-image: url('../images/light_theme.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

/* end theme */


/* start chat */

.chat_sidebar {
    background: @secondary_color-light;
    min-width: 400px;
}

.message_entry {
    background: white;
    border-color: @border_color;
    border-width: 2px;
    border-radius: 20px;
}

.message_button {
    border-radius: 50px;
    background: @secondary_color; 
}

#messages_list_box {
    border-top-color: @secondary_color;
    border-width: 2px;
    border-style: solid none none none;
}

.pages {
    margin: 3px -8px;
}

.scrollbar slider {
  background-color: @secondary_color;
}

scrollbar slider:hover {
  background-color: @secondary_color-dark;
}

scrollbar slider:active {
  background-color: @secondary_color-dark;
}

.chat_controlls {
    background: @secondary_color-light;
}

.message_box {
    background-color: @secondary_color-light;
    border: 2px solid @border_color;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
}

.message_username {
    font-weight: bold;
    color: @text_color;
}

.message_text {
    color: @text_color;
}

.message_time {
    font-size: 13px;
    color: @text_color;
    margin-top: -5px;
    opacity: 0.5;
}

.message_bubble {
    border-radius: 0px;
    border: none;
    outline: none;
    background: none;
    transition: none;
}

.message_bubble:hover {
    background: none;
}

.message_bubble:active {
    background: none;
}

.preview_box {
    background-color: @secondary_color-light;
    padding: 0px 10px 0px 10px;
}

.reply_box {
    background-color: @bg_color;
    border: 2px solid @border_color;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
}

/* end chat */

/* settings start */
.page_header {
    background: @secondary_color-light;
    padding: 5px 10px;
}

.page_title {
    font-weight: bold;
}

.group_name {
    font-size: 20px;
    font-weight: bold;
}

.settings_container entry {
    background: @input_bg_color;
    border: 2px solid @border_color;
}

.img {
  border-radius: 100%;
}
/* settings end */
